.container-completo{
    background: -webkit-linear-gradient(90deg, #7e7281ea 2%, #4047acfa 98%);
}

.detalle-exporta{
    padding-left: 10px;
    display: flex;
    background: #212529;
}

.detalle-exporta-icono{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.encabezado-detalle{
    position: sticky;
    top: 0;
}

.logo-busqueda i{
    position:relative;
    top: -30px;
    left: 235px;
    font-size: 20px;
    cursor: pointer;
}

.logo-busqueda-producto i{
    position:relative;
    top: -30px;
    left: 235px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1115px) {
    .logo-busqueda i{
        left: 190px;
    }

    .logo-busqueda-producto i{
        left: 190px;
    }
}

@media screen and (max-width: 992px) {
    .logo-busqueda i{
        left: 130px;
    }

    .logo-busqueda-producto i{
        left: 130px;
    }
}

@media screen and (max-width: 768px) {
    .logo-busqueda i{
        left: 490px;
    }

    .logo-busqueda-producto i{
        left: 470px;
    }
}

@media screen and (max-width: 575px) {
    .logo-busqueda i{
        left: 10px;
        top: 8px;
    }

    .logo-busqueda-producto i{
        left: 10px;
        top: 8px;
    }
}